@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

    <div class="container-fluid mt-4">
        <div class=" d-flex mr-4 justify-content-xl-center">
            @*<div class="col-md-3  shadow">
                <img src="~/images/fish_front.png" alt="logo" />
            </div>*@
            <div class="col-md-7 shadow">
                <h2>Gestiune cont</h2>

                <div>
                    <h4>Schimbare setari cont:</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>

                @section Scripts {
                    @RenderSection("Scripts", required: false)
                }
