@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access restrictionat";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nu aveti drepturi de acces pentru a accesa aceasta pagina.</p>
</header>
