@page
@model LockoutModel
@{
    ViewData["Title"] = "Lockout";
}


<div class="container-fluid backgroundWhiteBorder">
    <div class=" d-flex mr-6 justify-content-xl-center">
        <div class="col-md-7 shadow">

                @{
                    ViewData["Title"] = "Cont Blocat";
                }
            
            <h3 class="text-info">Acest cont a fost blocat ! Contactati-ne daca solicitati deblocare.</h3>
        </div>
    </div>
</div>


